.basic-box {
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background: white;
}

.shadow-main {
  box-shadow: 1px 2px 4px $grey;
}

.shadow-low {
  box-shadow: 0 1px 4px $grey;
}

.remove-focus-outline {
  outline: none;
}

.margin-bottom-common {
  margin-bottom: 1.25rem;
}

.t-black   { color: $black  }
.t-green   { color: $green  }
.t-red     { color: $red    }
.t-yellow  { color: $yellow }
.t-blue    { color: $blue   }

.button {
  @extend .basic-box;
  @extend .shadow-main;
  font-size: 1.25rem;
  cursor: pointer;
  position: relative;

  &:hover {
    background: #EEE;
  }
  &:active {
    @extend .shadow-low;
    top: 1px;
    left: 1px;
  }
  &:focus {
    @extend .remove-focus-outline;
  }
  .button-text:nth-child(2) {
    margin-left: 0.5rem;
  }
  &.header-button {
    border: 0;
    box-shadow: 0 0 0 0;
    padding-left: 2rem;
    padding-right: 2rem;
    &:hover {
      background: white;
    }
  }
}

// Simple Grid Overwrites

.row [class^="col"] {
  margin: 0 2%;
}
