.nav {
  @extend .shadow-main;
  @extend .margin-bottom-common;
  background: white;
  width: 100vw;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  justify-content: space-between;
  padding: 0 2%;
}

.footer {
  padding: 3rem 1rem;
  text-align: center;
}
