@import "_vars";
@import "_helpers";
@import "_animations";
@import "header-footer";
@import "simple-grid.scss";
@import "home";

* {
  box-sizing: border-box;
}

html {
  font-family: $page-font;
  font-size: 16px;
  background-image: url('/img/bg.svg');
  background-size: 10rem;
}

body {
  margin: 0;
}

.button-group {
  .button {
    border-radius: 0;
    border-right: 1px solid $grey;
  }

  .button:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .button:last-child {
    border-right: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}

.letter-title {
  @extend .margin-bottom-common;
  @extend .remove-focus-outline;
  font-size: 1.25rem;
  line-height: 2.5rem;
  margin-top: 0;
}

.variables-container {
  @extend .basic-box;
  @extend .shadow-main;
  @extend .margin-bottom-common;
  display: flex;
  flex-direction: column;
}

.variables-title {
  margin-top: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.input-label {
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
}

.input {
  @extend .basic-box;
  font-size: 1rem;
  border: 1px solid $grey;
}

.actionBar-container {
  @extend .margin-bottom-common;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.letter-container {
  @extend .basic-box;
  @extend .shadow-main;
  @extend .margin-bottom-common;
  padding: 3rem 1rem;
}

.letter-text {
  border: 1px solid white;
  padding: 4px;
  line-height: 1.5rem;
  p {
    margin: 0 auto 1.5rem;
  }
  p:last-child {
    margin-bottom: 0.25rem;
  }
}

.letter-textarea {
  @extend .remove-focus-outline;
  line-height: 1.5rem;
  padding: 4px;
  border: 1px solid $grey;
  font-size: 1rem;
  height: 100%;
  resize: none;
  width: 100%;
  font-family: $page-font;
}