@import url("https://fonts.googleapis.com/css?family=Roboto|Work+Sans&display=swap");
.basic-box, .home-letter, .button, .injections-container, .input, .letter-container {
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background: white; }

.shadow-main, .nav, .home-letter, .button, .injections-container, .letter-container {
  box-shadow: 1px 2px 4px #CCC; }

.shadow-low, .button:active {
  box-shadow: 0 1px 4px #CCC; }

.remove-focus-outline, .button:focus, .letter-title, .letter-textarea {
  outline: none; }

.margin-bottom-common, .nav, .letter-title, .injections-container, .actionBar-container, .letter-container {
  margin-bottom: 1.25rem; }

.t-black {
  color: #333; }

.t-green {
  color: #0F9D58; }

.t-red {
  color: #EA4335; }

.t-yellow {
  color: #FBBC04; }

.t-blue {
  color: #4285F4; }

.row [class^="col"] {
  margin: 0 2%; }

@keyframes prefix-scroll-down {
  0% {
    bottom: 100%; }
  8% {
    bottom: 0%; }
  16% {
    bottom: 0%; }
  24% {
    bottom: -100%; }
  32% {
    bottom: -100%; }
  40% {
    bottom: -200%; }
  48% {
    bottom: -200%; }
  56% {
    bottom: -300%; }
  64% {
    bottom: -300%; }
  72% {
    bottom: -400%; }
  80% {
    bottom: -400%; }
  88% {
    bottom: -500%; }
  100% {
    bottom: -500%; } }

.prefix-scroll-down, .home-letter-prefix-container {
  animation-name: prefix-scroll-down;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; }

.nav {
  background: white;
  width: 100vw; }

.header {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.footer {
  padding: 3rem 1rem;
  text-align: center; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 33.75em) {
    .container {
      width: 80%; } }
  @media only screen and (min-width: 60em) {
    .container {
      width: 75%;
      max-width: 60rem; } }

.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.33333%; }

.col-2-sm {
  width: 12.66667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33333%; }

.col-5-sm {
  width: 37.66667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33333%; }

.col-8-sm {
  width: 62.66667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33333%; }

.col-11-sm {
  width: 87.66667%; }

.col-12-sm {
  width: 96%; }

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33333%; }
  .col-2 {
    width: 12.66667%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33333%; }
  .col-5 {
    width: 37.66667%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33333%; }
  .col-8 {
    width: 62.66667%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33333%; }
  .col-11 {
    width: 87.66667%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

.basic-box, .home-letter, .button, .injections-container, .input, .letter-container {
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background: white; }

.shadow-main, .nav, .home-letter, .button, .injections-container, .letter-container {
  box-shadow: 1px 2px 4px #CCC; }

.shadow-low, .button:active {
  box-shadow: 0 1px 4px #CCC; }

.remove-focus-outline, .button:focus, .letter-title, .letter-textarea {
  outline: none; }

.margin-bottom-common, .nav, .letter-title, .injections-container, .actionBar-container, .letter-container {
  margin-bottom: 1.25rem; }

.t-black {
  color: #333; }

.t-green {
  color: #0F9D58; }

.t-red {
  color: #EA4335; }

.t-yellow {
  color: #FBBC04; }

.t-blue {
  color: #4285F4; }

.row [class^="col"] {
  margin: 0 2%; }

@keyframes prefix-scroll-down {
  0% {
    bottom: 100%; }
  8% {
    bottom: 0%; }
  16% {
    bottom: 0%; }
  24% {
    bottom: -100%; }
  32% {
    bottom: -100%; }
  40% {
    bottom: -200%; }
  48% {
    bottom: -200%; }
  56% {
    bottom: -300%; }
  64% {
    bottom: -300%; }
  72% {
    bottom: -400%; }
  80% {
    bottom: -400%; }
  88% {
    bottom: -500%; }
  100% {
    bottom: -500%; } }

.prefix-scroll-down, .home-letter-prefix-container {
  animation-name: prefix-scroll-down;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; }

.home-letter {
  padding: 2rem 2rem 5rem;
  width: 26rem;
  text-align: center; }

.home-letter-top {
  display: flex;
  margin-bottom: 5rem;
  height: 2.375rem;
  position: relative;
  overflow: hidden; }

.home-letter-prefix-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  right: 51%;
  text-align: right; }

.home-letter-title {
  position: absolute;
  margin: 0;
  left: 51%; }

.home-letter-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%; }

* {
  box-sizing: border-box; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

body {
  margin: 0; }

.logo {
  font-family: 'Work Sans', sans-serif; }
  .logo.title {
    font-size: 1.25rem; }

.button {
  font-size: 1.25rem;
  cursor: pointer;
  position: relative; }
  .button:hover {
    background: #EEE; }
  .button:active {
    top: 1px;
    left: 1px; }
  .button .button-text:nth-child(2) {
    margin-left: 0.5rem; }
  .button.header-button {
    border: 0;
    box-shadow: 0 0 0 0;
    padding-left: 2rem;
    padding-right: 2rem; }
    .button.header-button:hover {
      background: white; }

.button-group .button {
  border-radius: 0;
  border-right: 1px solid #CCC; }

.button-group .button:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.button-group .button:last-child {
  border-right: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.letter-title {
  font-size: 1.25rem;
  line-height: 2.875rem;
  margin-top: 0; }

.injections-container {
  display: flex;
  flex-direction: column; }

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem; }

.input-label {
  font-size: 0.75rem;
  padding-bottom: 0.5rem; }

.input {
  font-size: 1rem;
  border: 1px solid grey; }

.actionBar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row; }

.letter-container {
  padding: 3rem 1rem; }

.letter-textarea {
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem; }
